[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/plugins/z"]
	path = .zsh/plugins/z
	url = https://github.com/rupa/z
[submodule ".zsh/plugins/profile"]
	path = .zsh/plugins/profile
	url = https://github.com/aaronjsutton/profile
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = git@github.com:aaronjsutton/pure.git
[submodule ".zsh/typewritten"]
	path = .zsh/typewritten
	url = https://github.com/reobin/typewritten.git
[submodule ".vim/pack/aaronsutton/start/yajs.vim"]
	path = .vim/pack/aaronsutton/start/yajs.vim
	url = https://github.com/othree/yajs.vim
[submodule ".vim/pack/aaronsutton/start/ale"]
	path = .vim/pack/aaronsutton/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/aaronsutton/start/vim-svelte"]
	path = .vim/pack/aaronsutton/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte
[submodule ".vim/pack/aaronsutton/start/vim-elixir"]
	path = .vim/pack/aaronsutton/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule ".vim/pack/aaronsutton/start/haskell-vim"]
	path = .vim/pack/aaronsutton/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule ".vim/pack/aaronsutton/start/vim-pug"]
	path = .vim/pack/aaronsutton/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule ".vim/pack/aaronsutton/start/yats.vim"]
	path = .vim/pack/aaronsutton/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule ".vim/pack/aaronsutton/start/vim-markdown"]
	path = .vim/pack/aaronsutton/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/pack/aaronsutton/start/vim-toml"]
	path = .vim/pack/aaronsutton/start/vim-toml
	url = https://github.com/cespare/vim-toml
